<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".repository.response.DeltaBankApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Delta.Light">
        <activity
            android:name=".presentation.activities.BarCodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.CardSecondWayActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.CardChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.CardDisplayPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.CardsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.QrCodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PaymentSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PaymentConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PaymentPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PaymentReviewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PaymentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PixSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PixConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PixReviewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PixPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PixAmountActivity"
            android:exported="false" />
        <activity
            android:name="com.domleondev.deltatransfers.presentation.activities.TransfersDataActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.TransferSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.TransferConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.TransferAmountActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.TransferReviewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.TransferPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.TransferHomeActivity"
            android:exported="false" />
         <activity
            android:name=".presentation.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MAIN ACTIVITY NORMAL -->
        <activity
            android:name=".presentation.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.RegisterAddressActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.RegisterLoginPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.RegisterTransactionPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.PasswordResetedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.EmailVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.ForgotPasswordActivity"
            android:exported="false" />
    </application>

</manifest>